.container {
	font-family: arial;
	padding: 10px;
}
.ms-listing {
	background-color: #CCC;
	border-radius: 10px;
	padding: 20px;
}
.ms-listing ul {
	list-style-type: none;
	padding: 0;
}
.ms-listing ul h3 a {
	color: black;
	text-decoration: none;
}
.ms-listing ul h4 a {
	color: #666;
	text-decoration: none;
}
.q-listing {
	background-color: #CCC;
	border-radius: 10px;
	padding: 20px;
}
.q-listing ul {
	list-style-type: none;
	padding: 0;
}
.q-listing ul h3 a {
	color: black;
	text-decoration: none;
}
.q-listing ul h4 a {
	color: #666;
	text-decoration: none;
}
.q-content code {
	text-align: left;
	margin: 0 auto;
	border-radius: 10px
}
.q-render {
	background-color: white;
	border-radius: 10px;
	padding: 20px;
}
.q-code {
	
}